#text{
	font-family: monospace;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}
#nav{
	font-family: monospace;
	font-weight: bold;
	font-size: 25px;
}
#condition{
	font-family: monospace;
	font-weight: bold;
	font-size: 20px;
	

}
