<!DOCTYPE HTML>
<html>
<body>
  <h2> Book a Cab </h2>
  <nav>
    <a href={{url_for("index")}}>Home</a>
    <a href={{url_for("post_car")}}>Post your car</a>
    <a href={{url_for("rentcar")}}>Rent Car</a>
    <a href={{url_for("ride_end")}}>End Ride</a>
  </nav>
  <h2> Ride update </h2>
  <br>
  <form method="POST">

    <label for="car">Enter Car Number:<br></label>
    <input type='text' name='car'><br><br>
    <br>
    <input type="submit" value="End Ride" method="POST">
  </form>
</body>
</html>
